---
layout: home
description: 廖祜秋的博客
keywords: 廖祜秋
---

<ul class="article-list">
{% for post in paginator.posts %}
<li class='title-box'>
<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<div class="title-desc">{{ post.description }}</div>
</li>
{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>
