{% if page.language == 'en' %}
<ul class="header-menu">
  <li class="header-menu-item">
  <a class="header-menu-link" href="/cn">中文文章</a>
  </li>
  <li class="header-menu-item">
  <a class="header-menu-link" href="/about/about-me">关于</a>
  </li>
  <li class="header-menu-item">
  <a class="header-menu-link" href="/about/friends">朋友</a>
  </li>
  <li class="header-menu-item">
  <a class="header-menu-link" href="/about/feed">Feed / 订阅</a>
  </li>
</ul>
{% else %}
<ul class="header-menu" role="menuigation">
  <li class="header-menu-item">
  <a class="header-menu-link" href="/">English posts</a>
  </li>
  <li class="header-menu-item">
  <a class="header-menu-link" href="/about/about-me">About</a>
  </li>
  <li class="header-menu-item">
  <a class="header-menu-link" href="/about/friends">Friends</a>
  </li>
  <li class="header-menu-item">
  <a class="header-menu-link" href="/about/feed">Feed</a>
  </li>
</ul>
{% endif %}
