<header id="header">
  <div class='site-container'>
    <div class='mobile-nav-toggle mobile-display'>
      <div class='bar top-bar'></div>
      <div class='bar middle-bar'></div>
      <div class='bar bottom-bar'></div>
    </div>
    <div class='header-logo-container'>
      <h1 id="site_title"><a href="/">Srain</a></h1>
      <a>质有高低，境界不同。</a>
    </div>
    <div class='desktop-menu desktop-display'>
      {% include header-nav.html %}
    </div>
  </div>
  <div class='mobile-menu mobile-display'>
    {% include header-nav.html %}
  </div>
</header>
