.friend-list {
  ul {
    list-style: none;
    li {
      @include for_desktop {
        float: left;
        margin: 30px;
      }
      @include for_mobile {
        float: left;
        width: 100%;
        text-align: center;
      }
      img {
        width: 130px;
        height: 65px;
      }
    }
  }
}
