<!DOCTYPE html>
<html lang="en">

<head>
<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />

<meta name="author" content="{{ $site.author }}" />
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="{{ page.keywords }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
{% if page.url contains 'index.' %}
<meta name="360-site-verification" content="8d1576451e5d289af7a36112728ac887"/>
<meta name="sogou_site_verification" content="yEJfTYOrfT"/>
{% endif %}

<!-- Bootstrap core CSS -->
<link href="/assets/static/bt3/css/bootstrap.min.css" rel="stylesheet">

<!-- Documentation extras -->
<!--[if lt IE 9]><script src="/assets/static/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/assets/static/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="/assets/static/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- jquery -->
<script src="/assets/static/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/base.css?v=3">
{% if page.css %}<link rel="stylesheet" type="text/css" media="screen" href="{{ page.css }}">{% endif %}

<title>{% if page.title %}{{ page.title }} | {% endif %} {{ site.title }}</title>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <h1 id="site_title"><a href="/">Srain</a></h1>
        <a>行走在消逝的时光中</a>
    </header>
</div>

<!-- MAIN CONTENT -->
{{ content }}

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
try
{
ga('create', 'UA-43024238-1', 'liaohuqiu.net');
ga('send', 'pageview');
} catch(err) {
    console.log(err);
}
</script>
{% if page.js %}<script src="{{ page.js }}"></script>{% endif %}
<script src="/assets/static/bt3/js/bootstrap.min.js"></script>
</body>
</html>
