<!DOCTYPE html>
<html lang="en">

<head>
<title>{% if page.title %}{{ page.title }} | {% endif %} {{ site.title }}</title>
<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="{{ $site.author }}" />
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="{{ page.keywords }}" />

<meta name="google-site-verification" content="SbAzRqb2cWqPDNEITWdNn-OnF4w_dWNJgt37GYC3kqY" />

<!-- Documentation extras -->
<!--[if lt IE 9]><script src="/assets/compatibility/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/assets/compatibility/html5shiv-3.7.0.js"></script>
  <script src="/assets/compatibility/respond-1.4.2.js"></script>
<![endif]-->

<script src="/assets/app/js/base.js?{{ site.data.css_js_version.base_hash }}"></script>
<link href="/assets/app/css/app.css?{{ site.data.css_js_version.full_hash }}" rel="stylesheet">
<script src="/assets/app/js/app.js?{{ site.data.css_js_version.full_hash }}"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
try {
    ga('create', 'UA-43024238-1', 'liaohuqiu.net');
    ga('send', 'pageview');
} catch(err) {
    console.log(err);
}
</script>
</head>

<body>

{% include header.html %}

<!-- MAIN CONTENT -->
{{ content }}

{% if page.js %}<script src="/assets/app/js/{{ page.js }}?{{ site.data.css_js_version.full_hash }}"></script>{% endif %}
</body>
</html>
