---
layout:     base
title: Yet Another Summer Rain
---
<div class='home'>
    <div id="main_content_wrap" class="outer">
        <div class="main-content inner">
            <div class='about-me'>
                <h3>
                    {% if page.language == 'en' %}
                    <a href='/cn'>中文 / </a>
                    {% else %}
                    <a href='/'>English / </a>
                    {% endif %}
                    <a href='/about/about-me.html'>about me / </a>
                    <a href='/about/feed.html'>feed</a>
                </h3>
                <p class='line'></p>
            </div>
            {{ content }}
        </div>
    </div>
</div>
