---
layout:     base
title: Yet Another Summer Rain
---
<div class='home'>
    <div id="main_content_wrap" class="outer">
        <div class="main-content inner">
            <div class='about-me'>
                {% if page.language == 'en' %}
                <h3><a href='/cn'>中文 / </a>
                {% else %}
                <h3><a href='/'>English / </a>
                {% endif %}
                <a href='/about/about-me.html'>about me</a></h3>
                <p class='line'></p>
            </div>
            {{ content }}
        </div>
    </div>
</div>
