---
layout:     base
---
<div class='post'>
    <div id="main_content_wrap" class="outer">
        <div class="md-body main-content inner wide">
            <h2> {{ page.title }} </h2>
            <div>
                <p> {{ page.date | date_to_string }} </p>
            </div>
            <hr>
            {{ content }}
            <hr>
            {% if page.language == 'cn' %}
            <div class='wechat-mp-qrcode'>
                <p>欢迎关注我的 <a href='http://weibo.com/liaohuqiu/'>新浪微博</a>，有问题随时交流。</p>
                <p>欢迎关注我的 <a href='https://github.com/liaohuqiu'>GitHub</a>，了解我最新关注的项目。</p>
            </div>
            {% else %}
            <div class='wechat-mp-qrcode'>
                <p>Follow Me on <a href='https://github.com/liaohuqiu'>GitHub</a></p>
            </div>
            {% endif %}
            {% include comment.html %}
        </div>
    </div>
</div>
