---
layout:     base
---
<div class='post'>
    <div id="main_content_wrap" class="outer">
        <div class="md-body main-content inner wide">
            <!--
            {% if page.url contains 'follow-me-on-github' %}
            {% else %}
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% if page.language == 'cn' %}
                <strong><a target='_blank' href='/cn/posts/follow-me-on-github/'>一事相求, 还望相助：请在 GitHub 上关注我吧!</a></strong>
                {% else %}
                <strong><a target='_blank' href='/posts/follow-me-on-github/'>Help: Would you please follow me on GitHub</a></strong>
                {% endif %}
            </div>
            {% endif %}
            --->
            <h2> {{ page.title }} </h2>
            <div>
                <p> {{ page.date | date_to_string }} </p>
            </div>
            <hr>
            {{ content }}
            <hr>
            {% include comment.html %}
            {% if page.language == 'en' %}
            <script>var sharebutton_is_horizontal = false; document.write('<script src="//cdn.script.to/share2.js"></scr' + 'ipt>'); document.write("<div style='display: none'>");</script><a href="http://sharebutton.org/">social sharing buttons</a><script>document.write("</div>");</script>
            {% endif %}
        </div>
    </div>
</div>
